# Data processing and analysis
pandas
numpy
scikit-learn


# Visualization
matplotlib
seaborn
streamlit

# Development
jupyter
ipykernel
pytest
python-dotenv


# Database
pg8000
sqlalchemy
"cloud-sql-python-connector[pg8000]"
